{% extends 'clothapp/masterpage.html' %}
{% load static %}

{% block content %}


<div class="container">
<div class="row">
    
{% for i in product %}
    <div class="col-4">

<div class="card" style="width: 18rem;">
    <img src=" {{i.image.url}}" class="card-img-top" alt="..." height="280px">
    <div class="card-body">
      <h5 class="card-title">{{ i.title }}</h5>
      <p class="card-text">{{ i.description }}  <a href=""></a></p>



      <form method="post" action="{% url 'clothapp:add_to_cart' i.id %}">
        {% csrf_token %}
        <div class="quantity" style="display: none;">
          <input type="number" name="quantity" id="quantity" value="1" min="1" required>

        </div>
        <button type="submit" class="btn btn-primary">Add to cart</button>

      </form>
      <p>{{i.price}}</p>
    </div>
  </div>
</div>
{% endfor %}



</div>
</div>
{% endblock %}